In [30]:
import pandas as pd

In [31]:
# 1.获取数据
data_path = r"E:\B python wenjian\train.csv"
data = pd.read_csv(data_path)

In [32]:
data.head

<bound method NDFrame.head of             row_id       x       y  accuracy    time    place_id
0                0  0.7941  9.0809        54  470702  8523065625
1                1  5.9567  4.7968        13  186555  1757726713
2                2  8.3078  7.0407        74  322648  1137537235
3                3  7.3665  2.5165        65  704587  6567393236
4                4  4.0961  1.1307        31  472130  7440663949
...            ...     ...     ...       ...     ...         ...
29118016  29118016  6.5133  1.1435        67  399740  8671361106
29118017  29118017  5.9186  4.4134        67  125480  9077887898
29118018  29118018  2.9993  6.3680        67  737758  2838334300
29118019  29118019  4.0637  8.0061        70  764975  1007355847
29118020  29118020  7.4523  2.0871        17  102842  7028698129

[29118021 rows x 6 columns]>

In [33]:
# 2.基本的数据处理
# 2.1缩小数据范围
data = data.query("x < 2.5 & x > 2 & y < 1.5 & y > 1.0")

In [34]:
data.head

<bound method NDFrame.head of             row_id       x       y  accuracy    time    place_id
112            112  2.2360  1.3655        66  623174  7663031065
180            180  2.2003  1.2541        65  610195  2358558474
367            367  2.4108  1.3213        74  579667  6644108708
874            874  2.0822  1.1973       320  143566  3229876087
1022          1022  2.0160  1.1659        65  207993  3244363975
...            ...     ...     ...       ...     ...         ...
29115112  29115112  2.1889  1.2914       168  721885  4606837364
29115204  29115204  2.1193  1.4692        58  563389  2074133146
29115338  29115338  2.0007  1.4852        25  765986  6691588909
29115464  29115464  2.4132  1.4237        61  151918  7396159924
29117493  29117493  2.2948  1.0504        81   79569  1168869217

[83197 rows x 6 columns]>

In [35]:
# 2.2处理时间特征
time_value = pd.to_datetime(data["time"], unit="s")

In [36]:
time_value

112        1970-01-08 05:06:14
180        1970-01-08 01:29:55
367        1970-01-07 17:01:07
874        1970-01-02 15:52:46
1022       1970-01-03 09:46:33
                   ...
29115112   1970-01-09 08:31:25
29115204   1970-01-07 12:29:49
29115338   1970-01-09 20:46:26
29115464   1970-01-02 18:11:58
29117493   1970-01-01 22:06:09
Name: time, Length: 83197, dtype: datetime64[ns]

In [37]:
date = pd.DatetimeIndex(time_value)

In [38]:
date.weekday

Index([3, 3, 2, 4, 5, 1, 1, 4, 6, 2,
       ...
       4, 3, 4, 4, 6, 4, 2, 4, 4, 3],
      dtype='int32', name='time', length=83197)

In [39]:
data["day"] = date.day

C:\Users\31322\AppData\Local\Temp\ipykernel_32832\451622102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day"] = date.day

In [40]:
data["weekday"] = date.weekday

C:\Users\31322\AppData\Local\Temp\ipykernel_32832\1555290174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["weekday"] = date.weekday

In [41]:
data["hour"] = date.hour

C:\Users\31322\AppData\Local\Temp\ipykernel_32832\2587619854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["hour"] = date.hour

In [42]:
data.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
112      112  2.2360  1.3655        66  623174  7663031065    8        3     5
180      180  2.2003  1.2541        65  610195  2358558474    8        3     1
367      367  2.4108  1.3213        74  579667  6644108708    7        2    17
874      874  2.0822  1.1973       320  143566  3229876087    2        4    15
1022    1022  2.0160  1.1659        65  207993  3244363975    3        5     9

In [43]:
# 2.3过滤签到次数少的地点
place_count = data.groupby("place_id").count()["row_id"]

In [51]:
place_count[place_count > 3].head()

place_id
1014605271    28
1015645743     4
1017236154    31
1024951487     5
1028119817     4
Name: row_id, dtype: int64

In [55]:
data_final = data[data["place_id"].isin(place_count[place_count > 3].index.values)]

In [56]:
data_final

,row_id,x,y,accuracy,time,place_id,day,weekday,hour
112,112,2.2360,1.3655,66,623174,7663031065,8,3,5
367,367,2.4108,1.3213,74,579667,6644108708,7,2,17
874,874,2.0822,1.1973,320,143566,3229876087,2,4,15
1022,1022,2.0160,1.1659,65,207993,3244363975,3,5,9
1045,1045,2.3859,1.1660,498,503378,6438240873,6,1,19
...,...,...,...,...,...,...,...,...,...
29115112,29115112,2.1889,1.2914,168,721885,4606837364,9,4,8
29115204,29115204,2.1193,1.4692,58,563389,2074133146,7,2,12
29115338,29115338,2.0007,1.4852,25,765986,6691588909,9,4,20
29115464,29115464,2.4132,1.4237,61,151918,7396159924,2,4,18
29117493,29117493,2.2948,1.0504,81,79569,1168869217,1,3,22

In [57]:
# 3.筛选特征值和目标值
x = data_final[["x", "y", "accuracy", "day", "weekday", "hour"]]
y = data_final["place_id"]

In [59]:
x.head()

           x       y  accuracy  day  weekday  hour
112   2.2360  1.3655        66    8        3     5
367   2.4108  1.3213        74    7        2    17
874   2.0822  1.1973       320    2        4    15
1022  2.0160  1.1659        65    3        5     9
1045  2.3859  1.1660       498    6        1    19

In [61]:
y.head()

112     7663031065
367     6644108708
874     3229876087
1022    3244363975
1045    6438240873
Name: place_id, dtype: int64

In [62]:
# 4.数据集划分
from sklearn.model_selection import train_test_split

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [64]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [66]:
# 3.特征工程：标准化
# 3.1实例一个转换器类
transfer = StandardScaler()
# 3.2调用fit_transform
x_train = transfer.fit_transform(x_train)  # 对训练集进行标准化
x_test = transfer.transform(x_test)        # 对测试集进行标准化

# 4.KNN算法预估器
# 因为要去试验k值哪个比较好，所以这里就不用加参数n_neighbors=了
estimator = KNeighborsClassifier()

# 加入网格搜索与交叉验证
# 参数准备
param_dict = {"n_neighbors": [3, 5, 7, 9]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=3)

estimator.fit(x_train, y_train)

# 5.模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值：\n", y_test == y_predict)
# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为:\n", score)

# best_params_: 最佳参数
print("最佳参数:\n", estimator.best_params_)
# best_score_: 在交叉验证中验证的最好结果(最佳结果)
print("最佳结果:\n", estimator.best_score_)
# best_estimator_: 最好的参数模型(最佳估计器)
print("最佳估计器:\n", estimator.best_estimator_)
# cv_results_: 每次交叉验证后的验证集准确率结果和训练集准确率结果(交叉验证结果)
print("交叉验证结果:\n", estimator.cv_results_)

E:\A Python\python\Lib\site-packages\sklearn\model_selection\_split.py:805: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(

y_predict:
 [5103329101 3109132734 7732742644 ... 3953687520 3513732261 6936126097]
直接比对真实值和预测值：
 5939116     False
18714953     True
10495014    False
16074997     True
18665414     True
            ...
23439826     True
4922494      True
7505190     False
25869701    False
3029110     False
Name: place_id, Length: 20228, dtype: bool
准确率为:
 0.3672631995254103
最佳参数:
 {'n_neighbors': 5}
最佳结果:
 0.3342177728956555
最佳估计器:
 KNeighborsClassifier()
交叉验证结果:
 {'mean_fit_time': array([0.08749183, 0.08602627, 0.08070564, 0.07568995]), 'std_fit_time': array([0.00144659, 0.0003429 , 0.0058691 , 0.01291031]), 'mean_score_time': array([1.16396443, 1.23885957, 1.33608039, 1.59255958]), 'std_score_time': array([0.0206078 , 0.07742139, 0.06413654, 0.01810378]), 'param_n_neighbors': masked_array(data=[3, 5, 7, 9],
             mask=[False, False, False, False],
       fill_value=999999), 'params': [{'n_neighbors': 3}, {'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}], 'split0_test_score': array([0.32173225, 0.33132292, 0.33186672, 0.32855448]), 'split1_test_score': array([0.31972116, 0.33450339, 0.33217976, 0.33138874]), 'split2_test_score': array([0.32679092, 0.33682701, 0.33786523, 0.33124042]), 'mean_test_score': array([0.32274811, 0.33421777, 0.33397057, 0.33039455]), 'std_test_score': array([0.00297426, 0.00225609, 0.0027569 , 0.00130253]), 'rank_test_score': array([4, 1, 2, 3], dtype=int32)}